@import "tailwindcss";

body {
    background-color: rgb(237, 237, 237);
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(191, 191, 191) !important;
}

.bg-pagination {
    background: linear-gradient(113deg, #91b4e9, #4186f5);
}

.bg-pagination:hover {
    background: linear-gradient(113deg, #76a8f3, #025cec);
}
