@import "tailwindcss";

body {
    background-color: rgb(237, 237, 237);
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(191, 191, 191) !important;
}

.bg-pagination {
    background: linear-gradient(113deg, #91b4e9, #4186f5);
}

.bg-pagination:hover {
    background: linear-gradient(113deg, #76a8f3, #025cec);
}

.cutline {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cutline-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1
}

.cutline-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2
}

.cutline-3 {
    -webkit-line-clamp: 3;
    line-clamp: 3
}

.cutline-4 {
    -webkit-line-clamp: 4;
    line-clamp: 4
}